html {
    background-color: #14213d;
    font-family: 'Montserrat', sans-serif;
    color:#e5e5e5;
}
/*||content positon*/
/*||pagetext*/
h1 {
    font-size:50px;
    text-align: center;
    line-height: 3;
}

h1::selection{
    background-color:chocolate;
    color:black;
}

p {
    font-size: 30px;
    text-align:center;
    line-height:3;
}

p::selection{
    background-color:chocolate;
    color:black;
}

/*||pagelinks*/
a {
    display:inline-block;
    color:#fca311;
    text-decoration:none;
    border:transparent;
    border-radius:15px;
}

a::selection{
    background-color:chocolate;
    color:black;
}

a:hover{
    text-decoration:underline;
}
/*mobile phone layout */
@media (max-aspect-ratio:3/4) {
    h1 {
        font-size: 100px;
    }

    .explain{
        text-align:left;
        font-size: 55px;
        line-height:2;
        margin-left:20px;
        margin-right:20px;
    }

    p {
        text-align:left;
        font-size: 55px;
        margin-left:20px;
        margin-right:20px;
    }


    a {
        text-align:left;
        display:inline-block;
        padding-left: 100px;
        padding-right: 100px;
    }

    a:hover{
        text-decoration:underline;
    }
}
