html {
    background-color: #14213d;
    font-family: 'Montserrat', sans-serif;
    color:#e5e5e5;
}

/*||pagetext*/
h1 {
    font-size:50px;
    text-align: center;
    line-height: 3;
}

h1::selection{
    background-color:chocolate;
    color:black;
}

p {
    font-size: 30px;
    text-align:center;
    line-height:3;
    margin-top:0px;
    margin-bottom:0px;
}

p::selection{
    background-color:chocolate;
    color:black;
}

/*||pagelinks*/
a {
    display:inline-block;
    color:#fca311;
    text-decoration:none;
    border:transparent;
    border-radius:15px;
    padding: 20px 50px 20px 50px;
    margin-top:0px;
    margin-bottom:0px;
}

a::selection{
    background-color:chocolate;
    color:black;
}

a:hover{
    font-size:35px;
    transition-duration:.2s;
}
/*change font size for smaller windows or mobile phones*/
@media (max-aspect-ratio:3/4) {
    h1 {
        font-size: 100px;
    }

    .explain{
        font-size: 70px;
        line-height:2;
    }

    p {
        font-size: 70px;
    }

    a {
        display:inline-block;
        padding-left: 100px;
        padding-right: 100px;
    }

    a:hover{
        text-decoration:underline;
    }
}