html {
    background-color: burlywood;
    font-family: Roboto;
}

body {
    background-color: burlywood;
}

h1 {
    font-size:50px;
    text-align: center;
    line-height: 3;
}

p {
    font-size: 30px;
    text-align:center;
    line-height:3;
}

a {
    color:rgb(129, 40, 40);
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

@media (max-width: 70em) {
    h1 {
        font-size: 100px;
    }

    p {
        font-size: 80px
    }
}