html {
    background-color: burlywood;
    font-family: Roboto;
}

body {
    background-color: burlywood;
}

h1 {
    font-size:50px;
    text-align: center;
    line-height: 3;
}

p {
    font-size: 30px;
    text-align:center;
    line-height:3;
}

a {
    color:rgb(129, 40, 40);
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
/*change font size for smaller windows or mobile phones*/
@media (max-aspect-ratio:3/4) {
    h1 {
        font-size: 100px;
    }

    .explain{
        font-size: 65px;
    }

    p {
        font-size: 75px;
    }
}