h1 {
    font-size: 60px;
    text-align: center;
}

p {
    text-align: center;
}

div {
    height: 200px;
    width: 400px;
    background: burlywood;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

html {
    background-color: burlywood;
}