html {
    background-color: burlywood;
}

h1 {
    font-size: 30px;
    text-align: center;
    line-height: 3;
}

p {
    font-size: 20px;
    text-align: center;
    line-height: 3;
}

#names {
    text-align: center;
    font-size: 20px;
    line-height: 2;
}

