html {
    background-color: burlywood;
    font-family: Roboto;
}

h1 {
    font-size: 40px;
    text-align: center;
    line-height: 3;
}

#description {
    font-size: 30px;
    text-align: center;
    line-height: 3;
}

p {
    text-align: center;
    font-size: 30px;
    line-height: 2;
}

