html {
    background-color: #14213d;
    font-family: 'Montserrat', sans-serif;
    color:#e5e5e5;
}
/*||pagetext*/
h1 {
    font-size: 40px;
    text-align: center;
    line-height: 3;
}

h1::selection{
    background-color:chocolate;
    color:black;
}


#description {
    font-size: 30px;
    text-align: center;
    line-height: 3;
}

p {
    text-align: center;
    font-size: 30px;
    line-height: 2;
}

p::selection{
    background-color:chocolate;
    color:black;
}
/*change font size for smaller windows or mobile phones*/
@media (max-aspect-ratio:3/4) {
    h1 {
        font-size: 100px;
    }

    #description {
        font-size: 65px;
    }

    p {
        font-size: 75px;
    }

}
