html {
    background-color: burlywood;
    font-family: Roboto;
}

h1 {
    font-size: 50px;
    line-height:3;
    text-align:center;
}

p {
    text-align: center;
    font-size: 30px;
    line-height: 2
}

div {
    height: 200px;
    width: 400px;
    background: burlywood;

    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}


