html {
    background-color: burlywood;
    font-family: Roboto;
}
/*||pagetext*/
h1 {
    font-size: 50px;
    line-height:3;
    text-align:center;
}

h1::selection{
    background-color:chocolate;
    color:black;
}

p {
    text-align: center;
    font-size: 30px;
    line-height: 2
}

p::selection{
    background-color:chocolate;
    color:black;
}
/*change font size for smaller windows or mobile phones*/
@media (max-aspect-ratio:3/4) {
    h1{
        font-size: 100px;
    }

    p {
        font-size: 80px;
    }
}
