html {
    background-color: burlywood;
    font-family: Roboto;
}

h1 {
    font-size: 50px;
    line-height:3;
    text-align:center;
}

p {
    text-align: center;
    font-size: 30px;
    line-height: 2
}

@media (max-width: 70em) {
    h1{
        font-size: 100px;
    }

    p {
        font-size: 80px;
    }
}
