html {
    background-color:burlywood;
    font-family:Roboto;
}

body {
    padding-top: 90px;
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;
    line-height: 3;
}

h1:hover{
    color:brown;
}

p{
    font-size: 30px;
    text-align: center;
    line-height: 2.5;
}

p:hover {
    font-size: 35px;
    text-align:center;
    line-height: 2;
    color:brown;
}

a {
    color:black;
    text-decoration:none;
}

a:hover {
    color:brown;
}

/*change font size for smaller windows or mobile phones*/
@media (max-aspect-ratio: 3/4){

    h1 {
        font-size: 100px;
    }

    p {
        font-size: 80px;
    }

    p:hover {
        font-size: 85px;
    }

    /*adds a button like structure around the pagelinks in the phone layout*/
    a.pagelink{
        display:inline-block;
        border:solid;
        border-color:black;
        border-width: 5px;
        border-radius: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
/*all buttons have the exact same width as the playlist button*/
   /* #blog{
        padding-left: 117px;
        padding-right: 117px;
    }

    #github{
        padding-left: 80px;
        padding-right: 80px;
    }

    #movie {
        padding-left: 69px;
        padding-right:69px;
    }*/

}
