html {
    background-color:burlywood;
    font-family:Roboto;
}

body {
    padding-top: 90px;
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;
    line-height: 3;
}

h1.headerlink:hover{
    color:brown;
}

p{
    font-size: 30px;
    text-align: center;
    line-height: 2.5;
}

p:hover {
    font-size: 35px;
    text-align:center;
    line-height: 2;
    color:brown;
}

a {
    color:black;
    text-decoration:none;
}

a:hover {
    color:brown;
    text-decoration:unerline;
}

/*change font size for smaller windows or mobile phones*/
@media (max-aspect-ratio: 3/4){

    h1 {
        font-size: 100px;
    }

    p {
        font-size: 80px;
    }

    p:hover {
        font-size: 85px;
    }

}
